<section class="et-header-top-section">
    <div class="et-container">
        <div class="et-affirm">
            <img src="https://caros-demo-02.mybigcommerce.com/product_images/uploaded_images/top-promotion-image-2.png" alt="">
            <span>Buy Now, Pay Later Starting at 0% APR</span>
            <a class="et-button et-button--outline et-button--small" href="/affirm-financing/">Learn more</a>
        </div>
    </div>
</section>

<div class="et-header-sticky-wrap">
    <header class="et-header-section">
        <div class="et-container">
            <div class="et-header">
                {{> components/common/store-logo}}
                <div class="et-header-search">
                    {{> components/et-custom/quick-search name='nav-menu-quick-search'}}
                </div>
                {{> components/common/navigation}} 
            </div>
        </div>
    </header>
    
    <section class="et-navigation-section">
        <div class="et-container">
            {{> components/et-custom/navigation-menu-top}}
        </div>
    </section>
</div>


<div class="et-sidebar-category">
    <div class="et-sidebar-category-logo">
        {{> components/et-custom/logo}}
        <div class="et-sidebar-category-close">
            <svg><use href="#et-icon-close"></use></svg>
        </div>
    </div>
    <div class="panel-menu mobile-main-menu">
        {{> components/et-custom/navigation-menu-category}}
    </div>
</div>

{{> components/et-custom/side-cart}}

{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}
