---
blog:
    posts:
        limit: 6
        pages: 3
        summary: 200
---
{{#partial "head"}}
    {{#if pagination.blog.previous}}
        <link rel="prev" href="{{{pagination.blog.previous}}}">
    {{/if}}
    {{#if pagination.blog.next}}
        <link rel="next" href="{{{pagination.blog.next}}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

<div class="et-breadcrumbs et-breadcrumbs--cartpage">
    <div class="et-container">
        {{#unless theme_settings.hide_blog_page_heading }}
            <h1 class="page-heading">{{ blog.name }}</h1>
        {{/unless}}
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    </div>
</div>

<section class="et-blog-page et-section-margin">
    <div class="et-container">
        <div class="et-blog-card-wrap">
            {{#each blog.posts}}
                {{> components/blog/post-card post=this theme_settings=../theme_settings}}
            {{/each}}
        </div>
        {{> components/common/paginator pagination.blog}}
    </div>
</section>

{{/partial}}
{{> layout/base}}
