{{#partial "page"}}

<div class="et-breadcrumbs et-breadcrumbs--cartpage">
    <div class="et-container">
        <h1 class="page-heading">{{ page.title }}</h1>
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    </div>
</div>

<section class="et-section">
    <div class="et-container">
        {{{region name="page_builder_content"}}}
        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
            <p>{{{page.content}}}</p>
        {{/replace}}
    </div>
</section>

{{/partial}}
{{> layout/base}}
