---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: 4
    similar_by_views:
        limit: 4
---
{{inject 'productId' product.id}}

{{#partial "page"}}

    <div class="et-breadcrumbs">
        <div class="et-container">
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        </div>
    </div>

   <section>
        <div class="et-container">
            {{#each product.shipping_messages}}
                {{> components/common/alert/alert-info message}}
            {{/each}}
        
            {{> components/products/product-view}}
            {{{region name="product_below_content"}}}
            {{#if product.videos.list.length}}
                {{> components/products/videos product.videos}}
            {{/if}}
            {{#all settings.show_product_reviews theme_settings.show_product_reviews (if theme_settings.show_product_details_tabs '!==' true)}}
                {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
            {{/all}}
        </div>
   </section>

   <section class="et-section-product-tabs">
        <div class="et-container">
            <div>
                {{> components/products/tabs}}
            </div>
        </div>
   </section>

    {{> components/products/schema}}
    {{> components/et-custom/sticky-add-to-cart}}

{{/partial}}
{{> layout/base}}
