.et-main-banner{
    display: grid;
    grid-template-columns: 9fr 3fr;
}
.et-banner-item{
   position: relative;
   height: 100%;
}
.et-banner-item__image{
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.et-banner-item__content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    .brand-logo {
        margin-bottom: 20px;
    }
    h2 {
        margin: 0;
        font-size: 34px;
        text-transform: uppercase;
        font-weight: 500;
        padding-bottom: 10px;
        line-height: 100%;
    }
    p {
        font-size: 20px;
        font-weight: 500;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .et-main-banner {
        grid-template-columns: 8fr 4fr;
        min-height: 350px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .et-main-banner {
        grid-template-columns: 8fr 4fr;
        min-height: 300px;
    }
    .et-banner-item__content {
        .brand-logo img {
            width: auto;
            height: 70px;
        }
    }
    .et-banner-item {
        height: 100%;
    }
    .et-banner-item__image {
        height: 100%;
        img {
            width: auto;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width: 768px) {
    .et-main-banner {
        display: block;
    }
    .et-banner-item {
        &__content {
            position: relative;
            top: unset;
            transform: unset;
            left: unset;
            padding: 24px;
            .brand-logo img {
                width: auto;
                height: 60px;
            }
            h2 {
                font-size: 26px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}
