.et-main-banner{
    display: grid;
    grid-template-columns: 1fr 450px;
}

.et-main-banner-wrap {
    margin-bottom: 0 !important;
    max-height: 485px;
    .slick-arrow.slick-prev {
        left: 20px !important;
    }
    .slick-arrow.slick-next {
        right: 20px !important;
    }
    .slick-dots {
        bottom: 10px !important;
    }
}

.et-banner-item{
   position: relative;
   height: 100%;
}
.et-banner-item__image{
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    img.mobile-banner {
        display: none;
    } 
}
.et-banner-item__content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    .brand-logo {
        margin-bottom: 20px;
    }
    h2 {
        margin: 0;
        font-size: 34px;
        text-transform: uppercase;
        font-weight: 500;
        padding-bottom: 10px;
        line-height: 100%;
    }
    p {
        font-size: 20px;
        font-weight: 500;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .et-main-banner {
        grid-template-columns: 1fr 380px;
        min-height: 350px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .et-main-banner {
        grid-template-columns: 1fr 350px;
        min-height: 300px;
    }
    .et-banner-item__content {
        width: 40%;
        .brand-logo img {
            width: auto;
            height: 70px;
        }
    }
    .et-banner-item {
        height: 100%;
    }
    .et-banner-item__image {
        height: 100%;
    }
}

@media (max-width: 768px) {
    .et-main-banner {
        display: block;
    }
    .et-banner-item__image {
        img.mobile-banner {
            display: block;
        }
        img.desktop-banner {
            display: none;
        }
    }
    .et-banner-item {
        background: #fff;
        &__content {
            width: 100%;
            text-align: center;
            top: 0;
            transform: unset;
            left: unset;
            padding: 24px;
            .brand-logo {
                text-align: center;
                text-align: -webkit-center;
            }
            .brand-logo img {
                width: auto;
                height: 60px;
            }
            h2 {
                font-size: 26px;
            }
            p {
                font-size: 16px;
            }
        }
        &__image {
            padding-top: 120px;
        }
    }
}
