.et-category{
    display: grid;
    grid-template-columns: 3fr 9fr;
}
.et-sub-category{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.et-category-wrap{
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 30px;
    align-items: flex-start;
  }
  .et-category__left{
    position: sticky;
    top: 10px;
  }
  .et-category-sidebar{
    .sidebarBlock-heading{
      background-color: #F8F8F8;
      text-transform: uppercase;
      margin: 0;
      padding: 8px 20px;
      font-weight: 700;
      font-size: 16px;
      position: relative;
    }
    .sidebarBlock{
      background-color: #fff;
      border: 1px solid #ebebeb;
      margin-bottom: 30px;
      .navList{
        margin: 0;
      }
    }
    .sidebarBlock + .sidebarBlock{
      margin: 0;
      padding: 0;
      
    }
    aside nav{
      margin: 0;
    }
  }
  
  .et-sidebarBlock-category{
    ul{
      li{
        border-bottom: 1px solid #ebebeb;
        a{
          font-size: 16px;
          padding: 5px 15px;
          &:hover{
            color: #2b3687;
          }
        }
      }
    }
  }
  
  .facetedSearch.sidebarBlock{
    .sidebarBlock{
      border: none;
      margin: 0;
      border-bottom: 1px solid #ebebeb;
    }
    .facetedSearch-navList{
      margin: 0;
    }
  }
  .et-fillter-remove-button{
    position: absolute;
    right: 10px;
    font-size: 12px;
    text-decoration: underline;
    color: #777;
  }
  .et-refine-lists{
    margin: 0;
    padding: 10px 15px;
    list-style: none;
    overflow: hidden;
    li{
      float: left;
      margin: 2px;
      a.facetLabel{
        background-color: #f0f1ff;
        color: #000;
      }
    }
  }
  
  .facetedSearch{
    .accordion{
      margin: 0;
    }
    .accordion-block{
      .accordion-navigation{
        .accordion-title{
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }
  .accordion--navList .accordion-block{
    margin: 0;
    border-bottom: 1px solid #ebebeb;
    button{
      margin: 0 !important;
      padding: 8px 15px;
    }
    .accordion-content{
      padding: 0 15px;
      padding-bottom: 10px;
    }
    .facetedSearch-clearLink{
      right: 35px;
      text-transform: uppercase;
      font-size: 12px;
      top: 9px;
      text-decoration: underline;
    }
  }
  
  .navList{
    li{
      a{
        padding-top: 2px;
        padding-bottom: 2px;
        margin: 0;
        padding-left: 20px;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
  #facet-range-form{
    margin: 0;
    padding-bottom: 15px;
    .form-inlineMessage{
      display: none;
    }
    input{
      border-radius: 0;
    }
    .button.button--small{
      background-color: #2b3687;
      border-radius: 0;
      border: none;
      color: #fff;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
  .et-category-header-section {
    padding: 12px 0 20px 0;
  }
  .et-category-header__peragraph{
    height: 150px;
    overflow: hidden;
    padding-bottom: 20px;
    &.active{
      height: auto;
    }
  }
  .et-read-toggle{
    background: linear-gradient(180deg,hsla(0, 0%, 0%, 0),hsla(0,0%,100%,.6) 50%,#fff);
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 15px;
    position: absolute;
    text-align: left;
    width: 100%;
    line-height: 1;
    color: #2b3687;
    font-weight: 500;
  }
  .et-read-less-toggle{
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #2b3687;
    font-weight: 500;
  }
  .et-category-header{
    .breadcrumbs{
      margin-bottom: 12px;
    }
  }
  
  .et-no-fillter{
    padding: 10px 15px;
    margin: 0;
    color: #ccc;
  }
  .et-category-main-section{
    padding-bottom: 40px;
  }
  .mb-0{
    margin-bottom: 0;
  }
  .productGrid{
    margin-left: -7.5px;
    margin-right: -7.5px;
    .product{
      padding: 0 7.5px;
      margin-bottom: 15px;
      .card{
        margin-bottom: 0;
      }
    }
  }
  
  .et-short-product{
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 10px;
  }
  .et-short-product__inner{
      padding-left: 65px;
      position: relative;
      label{
        position: absolute;
        left: 0;
        margin: 0;
        top: 7px;
        color: #333;
        text-transform: uppercase;
      }
      select{
        width: auto;
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 3px;
      }
  }
  

  .et-productGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 15px;
  }
  .et-productGrid--4{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .et-sub-category-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    margin-bottom: 15px;
  }
  .et-sub-category-list__item{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    transition: all 300ms ease;
    a{
      display: block;
      text-align: center;
    }
    &:hover{
      border-color: #e50119;
    }
    img{
      height: 70px;
      width: auto;
      margin: 0 auto;
      margin-bottom: 10px;
      
    }
    h3{
      margin: 0;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .actionBar{
    margin: 0;
    margin-bottom: 10px;
  }
  .actionBar-section .form-field{
    margin: 0;
    text-align: right;
  }
  .form-fieldset.actionBar-section{
    float: right;
  }

  .et-select-vehicle-vertical-section{
    padding: 20px 0;
  }
  .et-select-vehicle-vertical{
    background-color: #000;
    border-radius: 5px;
    overflow: hidden;
    .et-select-vehicle-tab-nav{
      background-color: #e50119;
      border: none;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    .et-select-vehicle-tabs-content{
      padding: 20px 30px;
    }
    .et-select-vehicle-tab-nav a{
      border: none;
      padding: 10px 20px;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      position: relative;
      &.active{
        &::before{
          content: "";
        }
      }
      &::before{
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #e50119 transparent transparent transparent;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
  .et-select-vehicle-form{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    .et-form-select{
      margin: 0;
      select{
        padding: 0 10px;
        border-radius: 3px !important;
        min-width: 250px;
      }
    }
  }

  nav.pagination{
    padding-top: 40px;
  }
  .pagination .pagination-list {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    gap: 5px
}
.pagination .pagination-list li {
    border: 1px solid #e9e9e9;
    border-radius: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3px 5px;
    margin: 0
}
.pagination .pagination-list li.pagination-item--current {
    background-color: #e50119;
    border-color: #e50119
}
.pagination .pagination-list li.pagination-item--current a {
    color: #fff
}
.pagination .pagination-item--previous {
    float: none
}
.pagination .pagination-item--next {
    float: none
}

.et-inlineList-wrap{
  padding: 10px;
  p{
    margin: 0;
  }
}
.et-inlineList-refine{
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap;
  gap: 5px;
  list-style: none;
  li{
    margin: 0;
  }
}