.et-header-top-section{
    background-color: #000000;
    padding: 8px 0;
}
.et-affirm{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 10px;
    font-size: 14px;
    img{
        height: 25px;
        width: auto;
    }
}

.et-header-section{
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.et-header{
    display: grid;
    grid-template-columns: 4.2fr 6fr 4fr;
    gap: 35px;
    align-items: center;
}
.et-header-logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.et-header-nav-bar{
    cursor: pointer;
    svg{
        width: 25px;
        height: 25px;
    }
}
.et-header-logo-link{
    img{
        height: 52px;
        width: auto;
    }
}
.et-navigation-section{
    background-color: #e50119;
}
.et-navigation-top{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.et-navigation-top__list-link{
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    &:hover,
    &:focus,
    &:focus-visible {
        color: #fff;
    }
    &:hover{
        color: #fff;
        background-color: #d6071b;
    }
}

.et-user-nav{
    display: flex;
    justify-content: end;
    gap: 20px;
}
.et-user-nav__item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    svg{
        width: 38px;
        height: 38px;
    }
    &.mobile-only {
        display: none;
    }
}
.et-user-nav__item-account{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    a{
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        display: flex;
        align-items: center;
    }
}
.et-user-nav__item-cart{
    display: flex;
    align-items: center;
}
.et-bag{
    position: relative;
    span.et-countPill {
        position: absolute;
        left: 0;
        background: #e50119;
        width: 18px;
        height: 18px;
        z-index: 1;
        display: inline-flex;
        bottom: 8px;
        line-height: 1;
        border-radius: 50%;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
}
.et-cart-label{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.et-header-sticky-wrap {
    position: sticky;
    top: 0;
    z-index: 110;
    background: #fff;
}



@media (max-width: 768px) {
    .et-header-top-section {
        display: none;
    }
    .et-header {
        display: flex;
        justify-content: space-between;
    }
    .et-navigation-top {
        overflow-y: scroll;
        scroll-behavior: smooth;
        li {
            flex: 0 0 auto;
        }
        li a {
            display: block;
        }
    }
    .et-header-logo-link img {
        height: 35px;
        object-fit: contain;
    }
    .et-header-search {
        position: absolute;
        top: 100%;
        background: #fff;
        width: 100%;
        padding: 20px;
        left: 0;
        z-index: 2;
        display: none;
    }
    .et-user-nav {
        gap: 0 12px;
    }
    .et-user-nav__item {
        display: block;
        svg {
            width: 32px;
            height: 32px;
        }
        &.mobile-only {
            display: block;
        }
    }
    .et-user-nav__item-account {
        span {
            display: none;
        }
        a {
            font-size: 0;
            text-indent: 99999;
        }
    }
    .et-user-nav__item-cart {
        display: block;
    }
    .et-cart-label {
        display: none;
    }
    .et-user-nav__item-search {
        svg {
            width: 22px;
            height: 22px;
            position: relative;
            top: 6px;
        }
        svg.et-close-icon {
            display: none;
            height: 18px;
            width: 18px;
            top: 8px;
        }
        &.active {
            svg.et-close-icon {
                display: block;
            }
            svg.et-search-icon {
                display: none;
            }
        }
    }
}
