.et-page-inner {
    padding: 0 15%;
}

.et-contact-us {
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-gap: 60px;
}
.et-contact-us-map {
    overflow: hidden;
}
.et-contact-us-address {
    display: block;
}

.et-contact-us {
    &__form {
        background: #ffff;
        padding: 24px;
        .form-actions {
            text-align: left;
        }
    }
}

.et-contact-us-address {
    margin-bottom: 40px;
}
.et-contact-us-address__item {
    margin-bottom: 20px;
    h4 {
        margin: 0;
        font-weight: 500;
        padding-bottom: 15px;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    ul li {
        position: relative;
        padding-left: 30px;
        padding-bottom: 5px;
        span {
            font-weight: 500;
        }
        svg {
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: 5px;
        }
        a:hover {
            color: #e50119;
        }
    }
}

