.et-productView {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    background-color: #fff;
    margin-bottom: 0;
    padding: 25px;
    gap: 60px;
}
.et-productView-thumbnail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 10px;
    margin-top: 10px;
    li{
        a.productView-thumbnail-link{
            margin: 0;
            padding: 0;
        }
    }
}
.et-description-tab-section{
    background-color: #fff;
    margin: 20px 0;
    padding: 15px 30px;
    border-radius: 15px;
    ul.tabs{
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        border: none;
        display: flex;
        gap: 30px;
        margin-bottom: 10px;
        &::before, &::after{
            display: none;
        }
        li.tab{
            border: none;
            float: none;
            a{
                padding: 0 5px;
                font-weight: 600;
                border-bottom: 1px solid transparent;
                text-transform: uppercase;
                font-size: 14px;
            }
            &.is-active{
                a{
                    border-color: #e50019;
                    font-weight: 600;
                }
            }
        }
    }
    .tabs-contents{
        margin: 0;
        padding: 0;
        &::before, &::after{
            display: none;
        }
        .tab-content{
            margin: 0;
            padding: 0;
        }
    }
}
.et-product-page-section-title{
    text-align: left;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}
.et-productView-brand{
    a{
        border: 1px solid #efefef;
        background-color: #efefef;
        display: block;
        text-align: center;
        padding: 20px 10px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 600;
        text-decoration: underline;
        color: #e50019;
    }
}

.et-productview-info{
    border: 2px solid #e4e4e4;
    border-radius: 5px;
    padding: 15px 30px;
    max-width: 70%;
    position: relative;
    margin-top: 30px;
    p{
        margin: 0;
        font-size: 18px;
        font-weight: 500;
    }
}

.et-custom-tooltip__icon{
    background-color: #e4e4e4;
    display: inline-flex;
    position: absolute;
    left: -15px;
    top: 25px;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    svg{
        width: 16px;
        height: 16px;
    }
}
.et-custom-tooltip__content{
    &::before{
        content: "";
        width: 0; 
        height: 0; 
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #e4e4e4;
        position: absolute;
        top: -12px;
        left: 18px;
    }
    position: absolute;
    width: 90%;
    background-color: #e4e4e4;
    top: calc(100% - 10px);
    left: -30px;
    padding: 20px;
    font-size: 12px;
    z-index: 1;
    line-height: 18px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    display: none;
    &.active{
        display: block;
    }
    p{
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
    }
    ul{
        margin: 0;
        padding: 0;
        padding-left: 15px;
        margin-top: 10px;
    }
}
.et-productView-title{
    font-size: 32px;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 20px;
}
.et-productView-price{
    margin-bottom: 15px;
    overflow: hidden;
    .price-section{
        display: inline-block;
        font-size: 24px;
        font-weight: 700;
        margin-right: 10px;
    }
    .price-section.price-section--saving.price{
        display: block;
        font-size: 16px;
        font-weight: 400;
    }
}

.form-field.form-field--increments{
    margin-bottom: 10px;
}
.form-field--increments .form-label {
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700
}
.form-field--increments .form-increment {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: 1px solid #ccc
}
.form-field--increments .form-increment .button {
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.form-field--increments .form-increment .button svg {
    width: 15px;
    height: 15px;
    position: relative;
    top: 0px
}
.form-field--increments .form-increment input {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    min-width: 60px;
    border-radius: 0
}
.productView-options .add-to-cart-buttons {
    padding: 0;
    margin: 0
}
.productView-options .add-to-cart-buttons #form-action-addToCart {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
    background-color: #e12929;
    border-color: #e12929;
    padding: 15px 30px
}
.productView-options {
    margin-bottom: 10px
}
.form.form-wishlist.form-action{
    margin: 0;
    margin-left: 15px;
    a{
        margin: 0;
        border-radius: 0;
        padding: 13px 37px;
        text-align: center;
        text-transform: uppercase;
    }
}
#wishlist-dropdown.dropdown-menu{
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    input.button,
    a.button{
        margin: 0;
        border: none !important;
        padding: 10px 0;
    }
    li:first-child{
        border-bottom: 1px solid #ccc;
    }
}