.et-shopnow-section{
    background-color: #ebebeb;
    padding: 20px 0;
}
.et-shopnow{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 30px;
    align-items: center;
}
.et-shopnow__image{
    img{
        width: 100%;
        height: auto;
    }
}
.et-shopnow__content{
    h4{
        font-size: 26px;
        line-height: 36px;
    }
}

@media (max-width: 768px) {
    .et-shopnow-section {
        padding: 48px 24px;
    }
    .et-shopnow {
        display: block;
        &__image {
            margin-bottom: 24px;
        }
    }
}