.et-sticky-addto-cart-section{
    position: fixed;
    bottom: -150px;
    background-color: #fff;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 8;
    background-color: rgba(240,240,240,.8);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    box-shadow: 10px 6px 74px rgba(0, 0, 0, 0.20);
    transition: all 300ms ease;
    &.active{
        bottom: 0;
    }
}
.et-sticky-addto-cart {
    display: grid;
    grid-template-columns: 7fr 5fr;
    padding: 15px 0;
}

.et-prod-info {
    position: relative;
    padding-left: 80px;
    img {
        position: absolute;
        left: 0;
        width: auto;
        height: 60px;
    }
    .productView-title {
        font-size: 18px;
        padding-bottom: 5px;
        font-weight: 100;
    }
    .productView-price {
        font-size: unset;
        margin: 0;
        .price {
            font-size: 16px;
            font-weight: 500;
        }
        .login-for-prc {
            font-size: 16px;
        }
    }
}
.et-sticky-addto-cart .et-productView-options {
    align-self: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    .form {
        margin: 0;
        order: 2;
    }
    .order-on-whatsapp {
        text-decoration: none;
        background: #fff;
        border-radius: 4px;
        padding: 8px 10px;
        display: inline-flex;
        align-items: center;
        gap: 0 8px;
        width: fit-content;
        justify-self: end;
        i {
            font-size: 25px;
            color: #00e676;
        }
    }
}
.et-sticky-atc-wrap {
    display: flex;
    gap: 0 10px;
}
